<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179172327382-vh4l1fhh78f38bsm6ppfnscc29kl0a0d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179172327382-vh4l1fhh78f38bsm6ppfnscc29kl0a0d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>179172327382-0ja04ikbc56nq5a8u2h0kng5bjfg9d6b.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDKvfCIelh1U4u0mpPjx0-ja7TtOkz1i30</string>
	<key>GCM_SENDER_ID</key>
	<string>179172327382</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.samplelogin</string>
	<key>PROJECT_ID</key>
	<string>samplelogin-581d1</string>
	<key>STORAGE_BUCKET</key>
	<string>samplelogin-581d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179172327382:ios:5073c07fff9fd483c42e77</string>
</dict>
</plist>